@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: unset;
    font-family: "Poppins";
}

.animate{
    transform: translateX(100px);
}

body{
  background-color: white;
  color: black;
}

.todolist{
  font-size: 45px;
  color: whitesmoke;
  font-weight: bold;
  cursor: default;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.dark {
  background-color: black;
  color: white;
}

.light{
  background-color: white;
  color: black;
}


header{
    background-image: url("background.jpg");
    height: 300px;
    background-size: cover;
    background-position: center;
    margin-top: 0px;
}

.dark header{
  background-image: url("background_night.jpg");
  height: 300px;
  background-size: cover;
  background-position: center;
  margin-top: 0px;
}

img.social{
    width: 30px;
    margin: 0px 10px;
    background-color: #f1f1f1;
}

footer{
    background-color: #f1f1f1;
    color: #4f4dde;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}


.dark footer {
  background-color: rgb(56, 55, 55);
  color: #7c7ae2;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 35px;
    border-radius: 15px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: grab;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    background-color: whitesmoke;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .dark .slider {
    position: absolute;
    cursor: grab;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(218, 154, 82);
    border-radius: 20px;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .dark .slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(14, 32, 70);
    border-radius: 20px;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: white;
  }

  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(134, 129, 129);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .index{
      display: flex;
      justify-self: center;
      justify-content: space-between;
      padding-left: 500px;
      padding-right: 500px;
      padding-top: 150px;
  }



  

  /* ----list input-----*/
  .list__input{
    padding-top: 40px;
    padding-left: 500px;
    padding-right: 500px;
  }

  .list__input input{
    width: 540px;
    border: none;
    height: 40px;
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    color: rgb(114, 109, 109);
    border-radius: 5px;
  } 

  /*----list container----*/

  .list__item{
    display: flex;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 10px;
    justify-content: space-between;
    position: relative;
    background-color: rgb(223, 219, 219);
    border-radius: 5px;
    height: 50px;
  }

  .dark .list__item{
    display: flex;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 10px;
    justify-content: space-between;
    position: relative;
    background-color: rgb(56, 55, 55);
    border-radius: 5px;
    height: 50px;
  }

  .list__item a{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 13px;
    cursor: pointer;
  }

  .all:hover{
    color: rgb(37, 98, 179);
  }
  
  .pending:hover{
    color: rgb(37, 98, 179);
  }

  .completed:hover{
    color: rgb(37, 98, 179);
  }

  .clear:hover{
    color: rgb(241, 86, 13);
  }

  
  



